<main>
        <div class="container">
            <div class="lateral">
                <h1>Portfolio</h1>
                <div class="contato">
                    <h3>Email</h3>
                    <p>mullerrafaelmr@gmail.com</p>
                </div>
                <div class="contato">
                    <h3>Telefone</h3>
                    <p>(47)99269-3790</p>
                </div>
                <div class="contato">
                    <h3>Me encontre em</h3>
                    <div class="imagem">
                        <img src="/portfolio/src/assets/instagram.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
</main>