<main>
    <section class="lateral-roxo">
        <div>
            <div class="lateral">
                <h1 class="title">Portfólio</h1>
                <div class="contato">
                    <h3>Email</h3>
                    <p>mullerrafaelmr@gmail.com</p>
                </div>
                <div class="contato">
                    <h3>Telefone</h3>
                    <p>(47)99269-3790</p>
                </div>
                <div class="redes">
                    <h3>Me encontre em</h3>
                </div>
                <div class="imagem">
                    <ul>
                        <li class="img"><a href="https://www.instagram.com/rafinha.muller/" target="_blank"><img
                                    src=".//..//../assets/img/instagram.svg"></a></li>
                        <li class="img"><a href="https://www.linkedin.com/in/rafael-muller-83b664251/"
                                target="_blank"><img src=".//..//../assets/img/linkedin.svg"></a></li>
                        <li class="img"><a href="https://github.com/RafaelMuller00" target="_blank"><img
                                    src=".//..//../assets/img/github.svg"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="lateral-branco">
        <div class="superior">
            <img class="foto" src=".//..//../assets/img/foto.svg">
            <div class="traço">
            </div>
            <div class="informações">
                <p class="nome">RAFAEL</p>
                <p class="sobrenome">MULLER</p>
            </div>
        </div>
        <div class="inferior">
            <h1 class="subtitle">Desenvolvedor Front-end</h1>
            <p class="text">Olá, meu nome é Rafael Muller, tenho 19 anos e busco conhecimento na parte do front-end no
                momento, sempre gostei da área da técnologia e hoje procuro ter cada vez mais conhecimento sobre ela.
            </p>
            <div class="buttons">
                <button class="portfolio">Portfólio</button>
                <button class="curriculo">Curriculo</button>
            </div>
        </div>
    </div>
</main>