<main>
    <section class="left">
        <div class="lateral">
            <h1>Portfólio</h1>
            <div class="contato">
                <h3>Email</h3>
                <p>mullerrafaelmr@gmail.com</p>
            </div>
            <div class="contato">
                <h3>Telefone</h3>
                <p>(47)99269-3790</p>
            </div>
            <div class="redes">
                <h3>Me encontre em</h3>
            </div>
            <div class="imagem">
                <ul>
                    <li class="img"><a href="https://www.instagram.com/rafinha.muller/" target="_blank" ><img src=".//..//../assets/img/instagram.svg"></a></li>
                    <li class="img"><a href="https://www.linkedin.com/in/rafael-muller-83b664251/" target="_blank" ><img src=".//..//../assets/img/linkedin.svg"></a></li>
                    <li class="img"><a href="https://github.com/RafaelMuller00" target="_blank"><img src=".//..//../assets/img/github.svg"></a></li>
                </ul>
            </div>
        </div>
    </section>
</main>